body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.main-page h3 a {
    color: darkslategray;
    text-decoration: none;
}

.main-page h3 a:hover {
    text-decoration: underline;
}